<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
     <title>Section for Developer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    <link rel="stylesheet" href="homestyles.css">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>

    <div class="container py-5 mt-5">
        <a href="/dev-section/add" class="btn btn-info"> + Add new product</a>
        <h1>List of medications</h1>
    </div>
    <div class="album ">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div th:each="el : ${posts}" class="alert alert-info mt-2">
                    <div class="col">
                            <img th:src="${el.imagesrc}" class="bd-placeholder-img card-img-top" width="150" height="150"/>
                            <h3 th:text="${el.title}"/>
                            <p> <b>Price:</b> <span th:text="${el.price}"/> $</p>
                            <a th:href="'/dev-section/'+${el.id}" class="btn btn-info">See more...</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="blocks/footer :: footer"></div>
</body>
</html>