<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Section for Developer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    <link rel="stylesheet" href="/homestyles.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Addition</h1>
    <form action="/dev-section/add" method="post">
        <input type="text" name="title" placeholder="Enter the name of the medicine" class="form-control"><br>
        <textarea name="description" placeholder="Enter a description of the medicine" class="form-control"></textarea><br>
        <textarea name="imagesrc" placeholder="Insert image url" class="form-control"></textarea><br>
        <input type="number" step="any" name="price" placeholder="Enter the price of the medicine" class="form-control"><br>
        <button type="submit" class="btn btn-info">Add</button>

    </form>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>