<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />\
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    <link rel="stylesheet" href="homestyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header th:insert="blocks/header :: header"></header>

    <main class="img-container">
        <img src="https://image.freepik.com/free-vector/pharmacy-medication-concept-online-drugstore-consultation-and-pills-prescription-people-illustration_169479-293.jpg" alt="">
    </main>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div th:each="el : ${posts}" class="alert alert-info mt-2">
                    <div class="col">
                        <img th:src="${el.imagesrc}" class="bd-placeholder-img card-img-top" />
                        <h3 th:text="${el.title}"/>
                        <p> <b>Price:</b> <span th:text="${el.price}"/> $</p>
                        <a th:href="'/home-details/'+${el.id}" class="btn btn-info">See more...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="blocks/footer :: footer"></div>
</body>
</html>