<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>See more about product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />\
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    <link rel="stylesheet" href="/homestyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="album py-5 ">
    <div class="container">

        <div class="row ">
            <div class="col">
                <div th:each="el : ${post}" class="alert1 alert-info mt-5">
                    <img th:src="${el.imagesrc}" class="bd-placeholder-img card-img-top1"   />
                    <h3 th:text="${el.title}"  class="card-title" />
                    <p th:text="${el.description}" class="card-text" />
                    <p> <b>Price:</b> <span th:text="${el.price}"/> $</p>
                    <a href="#" class="btn btn-primary">BUTTON</a>

                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>